body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.cube{
    width: 350px;
    border: solid black 1px;
}

.score{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.bluea {
    color: blue;
}

.greena {
    color: green;
}

.reda {
    color: red;
}

.buttonsa {
    margin: 30px;
    
}

.player-one {
    background-color: blue;
    color: black;
    padding: 10px;
}

.player-two {
    background-color: red;
    color: black;
    padding: 10px;
}

.reset {
    background-color: green;
    color: black;
    padding: 10px;
}

.play {
    margin: 15px;
}

.use {
    margin: 50px;
}