body{
    display: flex;
    justify-content: center;
}

.weather{
    color: white;
    padding: 100px;
    border-radius: 15px;
    width: 400px;
    background: linear-gradient(135deg, #1DD2AF, #4B67E2);;
}

button{
    padding: 25px;
    border-radius: 50px;
}

input{
    padding: 15px;
    border-radius: 30px;
}


.csom{
    font-size: 35px;
    text-align: center;
}



.thesetwo{
    font-size: 25px;
    display: flex;
}
